<<<<<<< HEAD
<div class="container">
  <div class="row">
    <div class="col-9">
      <h5 class="pb-4 mt-5">
        <span class="midashi px-3">ショッピングカート</span>
      </h5>
    </div>
    <div class="col-3  mt-5">
      <%=link_to"カートを空にする",all_destory_path,method: :destroy,class:"btn btn-danger px-4"%>
    </div>
  </div>



    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="bg-light font-weight-normal" style="width:40%">商品名</th>
            <th scope="col" class="bg-light font-weight-normal" style="width:15%">単価(税込)</th>
            <th scope="col" class="bg-light font-weight-normal" style="width:15%">数量</th>
            <th scope="col" class="bg-light font-weight-normal" style="width:15%">小計</th>
            <th scope="col" class="bg-light font-weight-normal" style="width:15%"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%=image_tag cart_item.item.get_item_image,size:"54x45"%>   <%= cart_item.item.item_name %></td>
            <td><%= cart_item.item.with_tax_price %>円</td>

            <td>
              <%= form_with model:cart_item, url: cart_path(cart_item.id),local:true do |f| %>
                <%= f.select :quantity, *[1..10] %>
                <%= f.submit"変更",class:"btn btn-success" %>
              <% end %>
            </td>
            <td><%= cart_item.subtotal %>円</td>
            <td>
              <%=link_to"削除する",cart_path(cart_item.id),method: :delete,class:"btn btn-danger"%>
            </td>
          </tr>
          <% end %>
        </tbody>


      </table>
    </div>
  <div class='row d-flex align-items-end form-group'>
    <div class="col-8">
      <%= link_to '買い物を続ける', items_path,class:"btn btn-primary" %>
    </div>


    <div class="col-4 mt-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="bg-light font-weight-normal">合計金額</th>
            <th class="font-weight-normal"><%= @total %>円</th>
          </tr>
        </thead>

      </table>
    </div>


</div>
<%if current_customer.carts.present?%>
<div class="row justify-content-center">
  <%=link_to"情報入力に進む",new_order_path,class:"btn btn-success mr-2"%>
</div>
<%else%>
<p>カートに商品はありません。</p>
<%end%>
=======
<h1>Customers::Carts#index</h1>
<p>Find me in app/views/customers/carts/index.html.erb</p>
>>>>>>> main
