<<<<<<< HEAD
<%=render"layouts/errors",obj: @item%>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10">
      <div class="my-3">
        <h5 class="pb-4 mt-3">
          <span class="midashi px-3">商品編集</span>
        </h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 mx-auto pb-5">
      <%= form_with model:@item,url:admins_item_path,method: :patch,local:true do |f| %>
        <div class="form-group row">
          <div class="col-4">
            <%= f.label :商品画像 ,class:"pl-3"%>
          </div>
          <div class="col-8">
            <%= f.file_field :item_image%>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-4">
            <%= f.label :商品名,class:"pl-3"%>
          </div>
          <div class="col-8">
            <%= f.text_field :item_name,size:30%>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-4">
            <%= f.label :商品説明,class:"pl-3"%>
          </div>
          <div class="col-8">
            <%= f.text_area :introduction,size:"30x5"%>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-4">
            <%= f.label :ジャンル,class:"pl-3"%>
          </div>
          <div class="col-8">
            <%= f.collection_select(:genre_id, @genres, :id, :genre_name, {prompt: "--選択してください--"})%>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-4">
            <%= f.label :税抜価格,class:"pl-3"%>
          </div>
          <div class="col-8">
            <%= f.text_field :price,size:30%>円
          </div>
        </div>

        <div class="form-group row">
          <div class="col-4">
            <%= f.label :販売ステータス,class:"pl-3"%>
          </div>
          <div class="col-8">
            <%= f.radio_button :is_active, true%>販売中  <%= f.radio_button :is_active, false%>販売停止中
          </div>
        </div>

        <div class="form-group row">
          <div class="col-4"></div>
          <div class="col-8">
            <%= f.submit "  変更を保存  ",class:"btn btn-success"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
=======
<h1>Admins::Items#edit</h1>
<p>Find me in app/views/admins/items/edit.html.erb</p>
>>>>>>> main
