<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="bg-warning text-light">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><%=image_tag"nagano_cake2.jpg",size:"150x50"%> </a>
          <div class="px-5">
          <% if customer_signed_in? %>
          ようこそ、<%= current_customer.full_name %>さん！
          <%end%>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <%if customer_signed_in?%>
              <li class="nav-item">
                <%=link_to(customers_path,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">マイページ</span><%end%>
                <br><div class="space1"></div>
              </li>
              <li class="nav-item">
                <%=link_to(items_path,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">商品一覧</span><%end%>
                <br><div class="space1"></div>
              </li>
              <li class="nav-item">
                <%=link_to(carts_path,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">カート</span><%end%>
                <br><div class="space"></div>
              </li>
              <li class="nav-item">
                <%=link_to(destroy_customer_session_path,method: :delete,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">ログアウト</span><%end%>
                <br><div class="space"><input name="search" placeholder="Search🔎"></div>
              </li>
              <%elsif admin_signed_in?%>
              <li class="nav-item">
                <%=link_to(admins_items_path,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">商品一覧</span><%end%>
                <br><div class="space1"></div>
              </li>
              <li class="nav-item">
                <%=link_to(admins_customers_path,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">会員一覧</span><%end%>
                <br><div class="space1"></div>
              </li>
              <li class="nav-item">
                <%=link_to(admins_orders_path,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">注文履歴一覧</span><%end%>
                <br><div class="space2"></div>
              </li>
              <li class="nav-item">
                <%=link_to(admins_genres_path,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">ジャンル一覧</span><%end%>
                <br><div class="space2"></div>
              </li>
              <li class="nav-item">
                <%=link_to(destroy_admin_session_path,method: :delete,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">ログアウト</span><%end%>
                <br><input name="search" placeholder="Search🔎">
              </li>
              <%else%>
              <li class="nav-item">
                <%=link_to(about_path,class:"nav-link btn btn-light mx-3")do%><span style="color:#ff7f00;">About</span><%end%>
                <br><div class="space"></div>
              </li>
              <li class="nav-item">
                <%=link_to(items_path,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">商品一覧</span><%end%>
                <br><div class="space1"></div>
              </li>
              <li class="nav-item">
                <%=link_to(new_customer_registration_path,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">新規登録</span><%end%>
                <br><div class="space1"></div>
              </li>
              <li class="nav-item">
                <%=link_to(new_customer_session_path,class:"nav-link text-warning btn btn-light mx-3")do%><span style="color:#ff7f00;">ログイン</span><%end%>
                <br><input name="search" placeholder="Search🔎">
              </li>
              <%end%>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
       <%= yield %>
    </main>
    <footer class="bg-warning text-white pt-3 pb-2">
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <p>Copyright © 2022 ながのCAKE.All write reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
